$cameraSize: 320px;

#qrcodeReader {
   position: fixed;
   left: 0;
   top: 0;
   @extend %centerFlex;
   @include size(100%, 100vh);
   background-color: #000;
   color: #fff;
   font-size: 20px;
   z-index: 20;
   >.closeText {
      position: absolute;
      left: 20px;
      top: 20px;
   }
   >.lensBox {
      @include size($cameraSize);
      transform: translateY(-25%);
      .overlay {
         @extend %centerFlex;
         font-size: 25px;
         // background-color: #fff;
         .process {
            position: absolute;
            left: 0;
            top: 0;
            @include size(100%);
            line-height: $cameraSize;
            background-color: rgba(#fff, 0.75);
            text-align: center;
            color: #ff0000;
         }
      }
   }
}