%titleStyle {
   margin-bottom: 3px;
   color: map-get($fontColor, form);
   font-weight: bold;
}
.regionBox {
   @extend %bwtFlex;
   margin-bottom: 25px;
   >.regionRow {
      flex: 0 0 46%;
      >.title {
         @extend %titleStyle;      
      }
   }
}
.nameBox {
   >.title {
      @extend %titleStyle;
   }
}
.applyBlock {
   @include elGutter(margin-bottom, 25px);
}
.apply-middle {
   >i {
      margin-right: 10px;
      color: map-get($fontColor, header);
      font-size: 20px;
   }
   >span {
      color: map-get($fontColor, form);
   }
}
.numberSplit {
   display: flex;
   align-items: center;
   >span {
      margin: 0 15px;
   }
   >.myInput {
      flex: 1;
   }
}