.bulletonBox {
   padding: 15px;
}

.bulletin1Swiper {
   padding-bottom: 25px;
   .swiper-slide {
      position: relative;
      &:after {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         @include size(100%);
         background-color: rgba(#fff, 0.5);
      }
      >img {
         border-radius: 15px;  
      }
      >.imgDesc {
         position: absolute;
         @extend %posCenter;
         font-size: 22px;
         text-shadow: 0px 1px 10px #4F3B54;
         color: #fff;
         font-weight: bold;
      }
   }
   .swiper-pagination-bullets {
      bottom: 0;
      >.swiper-pagination-bullet-active {
         background-color: map-get($elBgColor, dot);
      }
   }
}